<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="airport_and_city_base_url" value="https://test.api.amadeus.com/v1"/>
    <add key="flight_offers_base_url" value="https://test.api.amadeus.com/v2"/>
    <add key="token_base_url" value="https://test.api.amadeus.com/v1/security/oauth2/token"/>
    <add key="grant_type" value="client_credentials" />
    <add key="client_id" value="u7Cn4VFNmeG9K8QYrnxzs1X0TlXaygSp" />
    <add key="client_secret" value="R4WJ1SmAvPpRZUyH"/>
	</appSettings>
</configuration>